<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arwinkish.restaurantmanagementapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

            <activity
                android:label="@string/app_name"
                android:name="com.example.arwinkish.restaurantmanagementapp.gui.MainActivity" >
                <intent-filter >
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>
            <activity
                android:label="@string/app_name"
                android:name="com.example.arwinkish.restaurantmanagementapp.gui.TableActivity" >
                <intent-filter >
                    <action android:name="android.intent.action.VIEW" />

                    <category android:name="android.intent.category.ALTERNATIVE" />
                </intent-filter>
            </activity>
            <activity
                android:label="@string/app_name"
                android:name="com.example.arwinkish.restaurantmanagementapp.gui.OrderActivity" >
                <intent-filter >
                    <action android:name="android.intent.action.VIEW" />

                    <category android:name="android.intent.category.ALTERNATIVE" />
                </intent-filter>
            </activity>
            <activity
                android:label="@string/app_name"
                android:name="com.example.arwinkish.restaurantmanagementapp.gui.ProductCategoriesActivity" >
                <intent-filter >
                    <action android:name="android.intent.action.VIEW" />

                    <category android:name="android.intent.category.ALTERNATIVE" />
                </intent-filter>
            </activity>
            <activity
                android:label="@string/app_name"
                android:name="com.example.arwinkish.restaurantmanagementapp.gui.ProductsActivity" >
                <intent-filter >
                    <action android:name="android.intent.action.VIEW" />

                    <category android:name="android.intent.category.ALTERNATIVE" />
                </intent-filter>
            </activity>
    </application>


</manifest>